{% extends 'myapp/moblie_site/base.html' %}
{% block title %}
パスワード変更
{% endblock %}
{% block content %}
<div class="gray_out_login_page">
    <div class="login_box">
        <div class="H3_login_box">
            <h3 class="H3_login">パスワード変更</h3>
        </div>
        <div class="mailaddress_input_box">
            <input class="password_input" id="password_input_old" type="password" name="password" form="send"
                maxlength="255" size="40" placeholder="現在のパスワード" />
        </div>
        <div class="password_input_box" style="margin-top: 0;">
            <input class="password_input" id="password_input_new" type="password" name="password" form="send"
                maxlength="255" size="40" placeholder="新しいパスワード" />
        </div>
        <button class="Login_button" type="button" id="login_button" onclick="confirmation_information()">変更</button>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    function confirmation_information() {
        const session_id_key_1 = 'session_id_1';
        const session_id_key_2 = 'session_id_2';
        /// 正規表現でcookie値を取得
        let session_id_1 = document.cookie.match(
            new RegExp(session_id_key_1 + '\=([^\;]*)\;*')
        )[1];
        let session_id_2 = document.cookie.match(
            new RegExp(session_id_key_2 + '\=([^\;]*)\;*')
        )[1];
        let password_old = document.getElementById("password_input_old").value
        let password_new = document.getElementById("password_input_new").value
        if (password_old.length == 0) { alert("変更するパスワードを入力してください") }
        else if (password_patteen.test(password_new) == false) { alert("新しいパスワードが不正です、パスワードに使用可能な文字は英数字と!@#$%^&*()_+-=[]{}|;:',.<>?/~`のみです"); }
        else {
            let data = {
                user_id: "{{user_id}}",
                session_id_1: session_id_1,
                session_id_2: session_id_2,
                password_old: password_old,
                password_new: password_new
            };
            fetch("{% url 'home' %}changepassword/process/", {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json',//JSON形式のデータのヘッダー
                    "X-CSRFToken": csrftoken
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => {
                    if(data["result"]=="success"){
                        location.href=("{% url 'home' %}")
                    }
                    else if(data["result"]=="failed_password"){
                        alert("現在のパスワードの部分が間違っています")
                    }
                    else if(data["result"]=="failed_error"){
                        alert("エラー\n\nページを読み込み直してもこのメッセージが出る場合は運営に問い合わせてください")
                    }
                })
        }
    }
</script>
{% endblock %}