{% extends 'myapp/base.html' %}
{% block content %}
<div style="margin-top: 50px;" class="change_icon_box">
    <div class="open_icon_input_box_button_box">
        <button id="open_icon_input_box_button" class="general_button_medium">アイコンを変える</button>
    </div>
    <div id="icon_input_box"
        style="display: none; margin-top: 30px; margin-left: 6vw; margin-right: 6vw; border: 1px solid  #aaa; padding: 10px;">
        <input type="file" id="icon_input" title="tekitou">
        <button id="upload_icon_button" onclick="upload_icon()"
            style="display: none; margin-top: 50px;">アイコンを変更</button>
    </div>
    <button id="open_username_input_box_button" class="general_button_medium"
        style="margin-top: 100px;">ニックネームを変える</button>
    <div id="icon_input_box" style="display: none; margin-top: 30px;">
        <input class="general_input_medium" type="text" id="new_username_input" placeholder="新しいニックネームを入力">
        <button class="" id="update_username_button" onclick="update_username()" style="display: none;">アイコンを送信</button>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    const username_exclusion_patteen = /<|>/
    const session_id_1 = document.cookie.match(new RegExp('session_id_1' + '\=([^\;]*)\;*'))[1];
    const session_id_2 = document.cookie.match(new RegExp('session_id_2' + '\=([^\;]*)\;*'))[1];
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    var icon_image
    var request_json_data
    document.getElementById("open_icon_input_box_button").addEventListener("click", () => {
        document.getElementById("icon_input_box").style.display = "block"
    })
    document.getElementById("icon_input").addEventListener("change", () => {
        icon_image = document.getElementById("icon_input").files[0]
        let lastDotPosition = icon_image.name.lastIndexOf('.')
        if (lastDotPosition === -1) {
            alert("使用できる画像はpngとjpegのみです\n正しいファイルか確認してください")
        }
        let extension = icon_image.name.substring(lastDotPosition + 1)
        if (extension == "png" || extension == "jpeg") {
            document.getElementById("upload_icon_button").style.display = "block"
        }
        else {
            alert("使用できる画像はpngとjpegのみです\n正しいファイルか確認してください")
        }
    })
    document.getElementById("new_username_input").addEventListener("input", () => {
        document.getElementById("new_username_input").value = document.getElementById("new_username_input").value.replace(username_exclusion_patteen, "")
        document.getElementById("update_username_button").style.display = "block"
    })
    function upload_icon() {
        if (icon_image) {
            request_json_data = {
                session_id_1: session_id_1,
                session_id_2: session_id_2,
            }
            // fetch APIを使用してデータを送信
            var reader = new FileReader();
            reader.onload = function (event) {
                document.getElementById("icon_input_box").style.display = "none"
                let imageBlob = new Blob([event.target.result], { type: icon_image.type })
                let formData = new FormData()
                formData.append('json', new Blob([JSON.stringify(request_json_data)], { type: 'application/json' }))
                // Blobデータを追加
                formData.append('image_file', imageBlob)
                fetch("{% url 'home' %}icon_upload_process/", {
                    method: 'POST',
                    headers: {
                        "X-CSRFToken": csrftoken
                    },
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data["result"] == "success") {
                            alert("aaa")
                        }
                        if (data["result"] == "failed_error") {
                            alert("bbb")
                        }
                    })
                    .catch(error => {
                        console.error('Error uploading image:', error);
                    })
            }
            reader.readAsArrayBuffer(icon_image);
        } else {
            console.warn('No image selected.')
        }

    }
    function update_username() {
        let new_username = document.getElementById("new_username_input").value
        let data = {
            user_id: "{{user_id}}",
            session_id_1: session_id_1,
            session_id_2: session_id_2,
            new_username: new_username
        };
        fetch("{% url 'home' %}change_username/process/", {
            method: 'post',
            headers: {
                'Content-Type': 'application/json',//JSON形式のデータのヘッダー
                "X-CSRFToken": csrftoken
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(data => {
                if (data["result"] == "success") {
                    alert("ニックネームの変更に成功しました")
                }
                else if (data["result"] == "failed_password") {
                    alert("現在のパスワードの部分が間違っています")
                }
                else if (data["result"] == "failed_error") {
                    alert("エラー\n\nページを読み込み直してもこのメッセージが出る場合は運営に問い合わせてください")
                }
            })
    }
</script>
{% endblock %}