{% extends 'myapp/moblie_site/base.html' %}
{% block content %}
<div class="gray_out_change_user_info_page" id="gray_out_delete_account_page">
    <div class="change_user_info_box">
        <h2 style="color: red; margin-bottom: 10vw;">アカウントを削除</h2>
        <h6 style="color: red;">パスワードを入力してください</h6>
        <div class="delete_account_password_box" id="delete_account_password_box">

            <input title="ニックネーム" id="delete_account_password_input" value="{{username}}" type="password"
                class="delete_account_password_input" placeholder="パスワードを入力">
        </div>
        <div class="delete_account_button_box">
            <button class="delete_account_button" id="delete_account_button" type="button"
                onclick="check_and_post()">アカウント削除</button>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}
<script>
    const username_exclusion_pattern = />|<| |　|★|☆|\u200b|&lt;|,|\n|\r|\t/g
    const content_exclusion_pattern = /<|>|\u200b|\t/g
    const session_id_1 = document.cookie.match(new RegExp('session_id_1' + '\=([^\;]*)\;*'))[1];
    const session_id_2 = document.cookie.match(new RegExp('session_id_2' + '\=([^\;]*)\;*'))[1];
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

    const password_patteen = /^(([a-xA-Z0-9]|\_|\?|\!|\#|\@|\$)+)$/
    var upload_processing_flag = false
    let delete_account_count = 0
    function check_and_post() {
        let password = document.getElementById("delete_account_password_input").value
        if (password == "") {
            alert("パスワードを入力してください")
        }
        else if (password_patteen.test(password) == false) { alert("パスワードが不正です") }
        else if (upload_processing_flag) {
        }
        else if (delete_account_count < 4) {
            alert(`あと${4 - delete_account_count}回押すとアカウントが削除されます`)
            delete_account_count++
        }
        else {
            upload_processing_flag = true
            request_json_data = {
                session_id_1: session_id_1,
                session_id_2: session_id_2,
                password: password,
            }
            fetch("{% url 'home' %}deleteaccount/process/", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',//JSON形式のデータのヘッダー
                    "X-CSRFToken": csrftoken
                },
                body: JSON.stringify(request_json_data)
            })
                .then(response => response.json())
                .then(data => {
                    if (data["result"] == "success") {
                        window.location.reload(true)
                        location.href = "{% url 'home' %}"
                    }
                    else if (data["result"] == "incorrect_password") {
                        alert("パスワードが間違っています")
                        upload_processing_flag = false
                    }
                    else {
                        alert("エラー")
                        window.location.reload(true)
                        upload_processing_flag = false
                    }
                })
                .catch(error => {
                    alert("エラー")
                    window.location.reload(true)
                    upload_processing_flag = false
                });
        }
    }
</script>
{% endblock %}