{% extends 'myapp/moblie_site/base.html' %}

{% block content %}

{% endblock %}

{% block out_of_box %}
<div id="gray_out_search_page" class="gray_out_search_page" style="display: none;">
    <div id="discussion_box" class="discussion_box" style="display: none;">

    </div>
</div>
<form id="report_form" action="{% url 'home' %}report/" method="GET">{% csrf_token %}
    <input id="report_subject_category" type="hidden" name="subject_category" form="report_form" value="post" />
    <input id="report_subject_id" type="hidden" name="subject_id" form="report_form" value="1" />
</form>
{% endblock %}
{% block script %}
<script>
    const main_middle = document.getElementById("main_middle")
    main_middle.classList.add("main_middle_serach")
    const gray_out_search_page = document.getElementById("gray_out_search_page")
    const content_exclusion_pattern = /(<|>|\u200b|\t)+/g
    function add_br(el, br_conut = 1) {
        for (let i = 0; i < br_conut; i++) {
            let new_br = document.createElement("br")
            el.appendChild(new_br)
        }
    }
    function add_border(el, br_conut = 1) {
        for (let i = 0; i < br_conut; i++) {
            let new_border = document.createElement("div")
            new_border.classList.add("pale_border")
            el.appendChild(new_border)
        }
    }
    function enlarge_right_box() {
        main_middle.style.left = "0%"
        sub_right.style.left = "60%"
        sub_left.style.width = "0%"
        sub_right.style.width = "40%"
    }
    const user_id = Number(`{{user_id}}`)
    const username = `{{username}}`
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    const session_id_key_1 = 'session_id_1'
    const session_id_key_2 = 'session_id_2'
    /// 正規表現でcookie値を取得
    const session_id_1 = document.cookie.match(new RegExp(session_id_key_1 + '\=([^\;]*)\;*'))[1]
    const session_id_2 = document.cookie.match(new RegExp(session_id_key_2 + '\=([^\;]*)\;*'))[1]

    const onevw = document.documentElement.clientWidth / 100
    const onevh = document.documentElement.clientHeight / 100

    var discussion_box = document.getElementById("discussion_box")
    var discussion_box_opened = false
    var discussion_box_opened_content_id
    var request_json_data

    var amount_of_displayd_comment = 0
    var comment_id_list=[]
    var comment_content_list=[]
    var parent_comment_id_list=[]
    var comment_user_id_list=[]
    var comment_username_list=[]
    var comment_date_list=[]
    var child_comment_open_flag_list=[]

    var dieplayed_post_number = Number(`{{amount_of_displayed_post}}`)
    var content_id_list = split_by_less_than(`{{content_id_combined}}`)
    var title_list = split_by_less_than(`{{title_combined}}`)
    var content_list = split_by_less_than(`{{content_combined}}`)
    var user_id_list = split_by_less_than(`{{user_id_combined}}`)
    var overview_list = split_by_less_than(`{{overview_combined}}`)
    var word_counts_list = split_by_less_than(`{{word_counts_combined}}`)
    var tags_list = split_by_less_than(`{{tags_combined}}`)
    var my_review_list = split_by_less_than(`{{my_review_combined}}`)
    var like_counts_list = split_by_less_than(`{{like_counts_combined}}`)
    var dislike_counts_list = split_by_less_than(`{{dislike_counts_combined}}`)
    var post_date_list_temp = split_by_less_than(`{{post_date_combined}}`)
    var post_date_list = []
    for (let i = 0; i < post_date_list_temp.length; i++) {
        let post_date_temp = post_date_list_temp[i].split(",")
        post_date_list[i] = []
        for (let j = 0; j < post_date_temp.length; j++) {
            post_date_list[i][j] = post_date_temp[j]
        }
    }
    var user_name_list = split_by_less_than(`{{user_name_combined}}`)

    function set_text_with_newline(text) {
        var split_text = text.split(/\r\n|\n/)
        var return_text = ""
        for (let i = 0; i < split_text.length; i++) {
            return_text += (split_text[i] + "<br>")
        }
        return return_text
    }

    function split_by_less_than(text) {
        let result = text.split("&lt;")
        return result
    }

    function post_comment(parent_content_id, parent_comment_id = 0, textarea_id) {
        if (user_id <= 0) {
            location.href = (`{% url 'home' %}signup/`)
        }
        if (document.getElementById(textarea_id).value != "") {
            request_json_data = {
                session_id_1: session_id_1,
                session_id_2: session_id_2,
                content_id: String(parent_content_id),
                comment_content: document.getElementById(textarea_id).value,
                parent_comment_id: String(parent_comment_id)
            }
            return fetch("{% url 'home' %}add_comment/", {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json',//JSON形式のデータのヘッダー
                    "X-CSRFToken": csrftoken
                },
                body: JSON.stringify(request_json_data)
            })
                .then(response => response.json())
                .then(data => {
                    return new Promise((resolve, reject) => {
                        // 非同期処理が成功した場合
                        resolve({ "result": data["result"], "comment_id": Number(data["comment_id"]) });
                        // 非同期処理が失敗した場合
                        // reject('失敗した理由');
                    });
                })
        }
        else {
            alert("内容がないよう")
        }
    }

    function add_comment_to_discussion_box(listed_comment_number, comment_id, comment_content, parent_comment_id, comment_user_id, comment_username) {
        if (parent_comment_id == "0") {
            let comment_box = document.createElement("div")
            comment_box.classList.add("comment_box")
            comment_box.id = `comment_box_${listed_comment_number}`
            discussion_box.appendChild(comment_box)

            let comment_id_label = document.createElement("div")
            comment_id_label.id = `comment_id_label_${listed_comment_number}`
            comment_id_label.textContent = comment_id
            comment_id_label.classList.add("hidden")
            comment_box.appendChild(comment_id_label)

            let comment_user_box = document.createElement("div")
            comment_user_box.id = `comment_user_box_${listed_comment_number}`
            comment_user_box.classList.add("comment_user_box")
            comment_box.appendChild(comment_user_box)

            let comment_user_icon = document.createElement("a")
            comment_user_icon.id = `comment_user_icon_${listed_comment_number}`
            comment_user_icon.classList.add("comment_user_icon")
            comment_user_icon.innerHTML = `<img class="comment_user_icon" src="/media/user_icons/user_icon_mini_${comment_user_id}.png" alt="icon">`
            comment_user_box.appendChild(comment_user_icon)

            let comment_username_text_link = document.createElement("a")
            comment_username_text_link.id = `comment_username_${listed_comment_number}`
            comment_username_text_link.classList.add("comment_username")
            comment_username_text_link.href = `{% url 'home' %}user/${comment_user_id}/`
            comment_username_text_link.textContent = comment_username
            comment_user_box.appendChild(comment_username_text_link)

            let report_comment_button_box = document.createElement("div")
            report_comment_button_box.id = `report_comment_button_box_${listed_comment_number}`
            report_comment_button_box.classList.add("report_comment_button_box")
            comment_box.appendChild(report_comment_button_box)

            let report_comment_button = document.createElement("button")
            report_comment_button.id = `report_comment_button${listed_comment_number}`
            report_comment_button.classList.add("report_comment_button")
            report_comment_button.textContent = "通報"
            report_comment_button.addEventListener("click", () => {
                document.getElementById("report_subject_category").value = "comment"
                document.getElementById("report_subject_id").value = comment_id
                document.getElementById("report_form").submit()
            })
            report_comment_button_box.appendChild(report_comment_button)

            let comment_content_div = document.createElement("div")
            comment_content_div.id = `comment_content_${listed_comment_number}`
            comment_content_div.classList.add("comment_content")
            comment_content_div.innerHTML = set_text_with_newline(comment_content)
            comment_box.appendChild(comment_content_div)

            let open_child_comment_button_box = document.createElement("div")
            open_child_comment_button_box.id = `open_child_comment_button_box_${listed_comment_number}`
            open_child_comment_button_box.classList.add("open_child_comment_button_box")
            comment_box.appendChild(open_child_comment_button_box)

            let open_child_comment_button = document.createElement("button")
            open_child_comment_button.type = "button"
            open_child_comment_button.textContent = "返信を見る"
            open_child_comment_button.id = `open_child_comment_button_${listed_comment_number}`
            open_child_comment_button.classList.add("open_child_comment_button")
            open_child_comment_button.addEventListener("click", () => {
                if (child_comment_open_flag_list[listed_comment_number - 1] == false) {
                    document.getElementById(`child_comment_box_${listed_comment_number}`).classList.remove("hidden")
                    document.getElementById(`open_child_comment_button_${listed_comment_number}`).textContent = "返信を閉じる"
                    child_comment_open_flag_list[listed_comment_number - 1] = true

                    let add_child_comment_box = document.createElement("div")
                    document.getElementById(`child_comment_box_${listed_comment_number}`).appendChild(add_child_comment_box)

                    let first_child_comment_index = parent_comment_id_list.findIndex(parent_comment_id => parent_comment_id == `${comment_id}`);
                    if (first_child_comment_index == -1) {
                    }
                    else {
                        document.getElementById(`child_comment_box_${listed_comment_number}`).insertBefore(add_child_comment_box, document.getElementById(`comment_box_${first_child_comment_index + 1}`))
                    }
                    add_child_comment_box.id = `add_child_comment_box_${listed_comment_number}`
                    add_child_comment_box.classList.add("add_child_comment_box")


                    let add_child_comment_textarea_box = document.createElement("div")
                    add_child_comment_textarea_box.id = `add_child_comment_textarea_box_${listed_comment_number}`
                    add_child_comment_textarea_box.classList.add("add_child_comment_textarea_box")
                    add_child_comment_box.appendChild(add_child_comment_textarea_box)

                    let add_child_comment_textarea_dummy = document.createElement("div")
                    add_child_comment_textarea_dummy.id = `add_child_comment_textarea_dummy_${listed_comment_number}`
                    add_child_comment_textarea_dummy.classList.add("general_textarea_dummy")
                    add_child_comment_textarea_box.appendChild(add_child_comment_textarea_dummy)

                    let add_child_comment_textarea = document.createElement("textarea")
                    add_child_comment_textarea.id = `add_child_comment_textarea_${listed_comment_number}`
                    add_child_comment_textarea.classList.add("add_child_comment_textarea")
                    add_child_comment_textarea_box.appendChild(add_child_comment_textarea)
                    add_child_comment_textarea.placeholder = "返信を入力"
                    add_child_comment_textarea.addEventListener("input", () => {
                        let eee = document.getElementById(`add_child_comment_textarea_${listed_comment_number}`)
                        const dummy = document.getElementById(`add_child_comment_textarea_dummy_${listed_comment_number}`)
                        dummy.textContent = eee.value + '\u200b'
                        eee.value = eee.value.replace(content_exclusion_pattern, "")
                        eee.value = eee.value.replace(/\n\r/g, "\n")
                        eee.value = eee.value.replace(/\r/g, "\n")
                    })


                    let add_child_comment_button = document.createElement("button")
                    add_child_comment_button.id = `add_child_comment_button_${listed_comment_number}`
                    add_child_comment_button.classList.add("add_child_comment_button")
                    add_child_comment_button.textContent = "投稿"
                    add_child_comment_button.addEventListener("click", () => {
                        post_comment(discussion_box_opened_content_id, comment_id, `add_child_comment_textarea_${listed_comment_number}`).then((data) => {
                            if (data["result"] == "success") {
                                comment_id_list[content_id_list.length] = String(data["comment_id"])
                                amount_of_displayd_comment += 1
                                child_comment_open_flag_list[child_comment_open_flag_list.length] = false
                                add_comment_to_discussion_box(amount_of_displayd_comment, String(data["comment_id"]), document.getElementById(`add_child_comment_textarea_${listed_comment_number}`).value, comment_id, user_id, username)
                                document.getElementById(`add_child_comment_textarea_${listed_comment_number}`).value = ""
                                document.getElementById(`comment_box_${amount_of_displayd_comment}`).scrollIntoView({ behavior: 'smooth', block: 'center' })
                            }
                        })
                    })
                    add_child_comment_box.appendChild(add_child_comment_button)
                }
                else if (child_comment_open_flag_list[listed_comment_number - 1] == true) {
                    document.getElementById(`child_comment_box_${listed_comment_number}`).classList.add("hidden")
                    document.getElementById(`open_child_comment_button_${listed_comment_number}`).textContent = "返信を見る"
                    child_comment_open_flag_list[listed_comment_number - 1] = false
                    document.getElementById(`add_child_comment_box_${listed_comment_number}`).remove()
                }
            })
            open_child_comment_button_box.appendChild(open_child_comment_button)

            let child_comment_box = document.createElement("div")
            child_comment_box.id = `child_comment_box_${listed_comment_number}`
            child_comment_box.classList.add("child_comment_box")
            child_comment_box.classList.add("hidden")
            comment_box.appendChild(child_comment_box)
        }
        else if (Number(parent_comment_id) >= 1) {
            let parent_comment_index = comment_id_list.findIndex(element => element == parent_comment_id);
            let comment_box = document.createElement("div")
            comment_box.classList.add("comment_box")
            comment_box.id = `comment_box_${listed_comment_number}`
            document.getElementById(`child_comment_box_${parent_comment_index + 1}`).appendChild(comment_box)

            let comment_id_label = document.createElement("div")
            comment_id_label.id = `comment_id_label_${listed_comment_number}`
            comment_id_label.textContent = comment_id
            comment_id_label.classList.add("hidden")
            comment_box.appendChild(comment_id_label)


            let comment_user_box = document.createElement("div")
            comment_user_box.id = `comment_user_box_${listed_comment_number}`
            comment_user_box.classList.add("comment_user_box")
            comment_box.appendChild(comment_user_box)

            let comment_user_icon = document.createElement("a")
            comment_user_icon.id = `comment_user_icon_${listed_comment_number}`
            comment_user_icon.classList.add("comment_user_icon")
            comment_user_icon.innerHTML = `<img class="comment_user_icon" src="/media/user_icons/user_icon_mini_${comment_user_id}.png" alt="icon">`
            comment_user_box.appendChild(comment_user_icon)

            let comment_username_text_link = document.createElement("a")
            comment_username_text_link.id = `comment_username_${listed_comment_number}`
            comment_username_text_link.classList.add("comment_username")
            comment_username_text_link.href = `{% url 'home' %}user/${user_id}/`
            comment_username_text_link.textContent = comment_username
            comment_user_box.appendChild(comment_username_text_link)


            let comment_content_div = document.createElement("div")
            comment_content_div.id = `comment_content_${listed_comment_number}`
            comment_content_div.classList.add("comment_content")
            comment_content_div.innerHTML = set_text_with_newline(comment_content)
            comment_box.appendChild(comment_content_div)
        }
    }

    function open_comment(selected_content_id) {///selected_content_idはstr
        if (discussion_box_opened == false || discussion_box_opened_content_id != selected_content_id) {
            discussion_box.remove()///一度リセット
            discussion_box = document.createElement("div")
            discussion_box.style.display = "block"
            discussion_box.id = "discussion_box"
            discussion_box.classList.add("discussion_box")
            discussion_box_opened = true
            gray_out_search_page.appendChild(discussion_box)

            let close_discussion_box_button_box = document.createElement("div")
            close_discussion_box_button_box.id = "close_discussion_box_button_box"
            close_discussion_box_button_box.classList.add("close_discussion_box_button_box")
            discussion_box.appendChild(close_discussion_box_button_box)

            let close_discussion_box_button = document.createElement("button")
            close_discussion_box_button.id = "close_discussion_box_button"
            close_discussion_box_button.classList.add("close_discussion_box_button")
            close_discussion_box_button.addEventListener("click", () => { close_comment() })
            close_discussion_box_button_box.appendChild(close_discussion_box_button)

            let close_discussion_box_button_inside = document.createElement("button")
            close_discussion_box_button_inside.id = "close_discussion_box_button_inside"
            close_discussion_box_button_inside.classList.add("close_discussion_box_button_inside")
            close_discussion_box_button_inside.textContent = "×"
            close_discussion_box_button_box.appendChild(close_discussion_box_button_inside)

            request_json_data = {
                content_id: selected_content_id
            }
            fetch("{% url 'home' %}get_discussion_data/", {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json',//JSON形式のデータのヘッダー
                    "X-CSRFToken": csrftoken
                },
                body: JSON.stringify(request_json_data)
            })
                .then(response => response.json())
                .then(data => {
                    if (data["result"] == "success") {
                        discussion_box_opened_content_id = selected_content_id
                        let add_comment_box = document.createElement("div")
                        add_comment_box.id = "add_comment_box"
                        add_comment_box.classList.add("add_comment_box")
                        discussion_box.appendChild(add_comment_box)

                        let add_comment_textarea_box = document.createElement("div")
                        add_comment_textarea_box.id = "add_comment_textarea_box"
                        add_comment_textarea_box.classList.add("add_comment_textarea_box")
                        add_comment_box.appendChild(add_comment_textarea_box)

                        let add_comment_textarea_dummy = document.createElement("div")
                        add_comment_textarea_dummy.id = "add_comment_textarea_dummy"
                        add_comment_textarea_dummy.classList.add("general_textarea_dummy")
                        add_comment_textarea_dummy.ariaHidden = "true"
                        add_comment_textarea_dummy.style.minHeight = "20vw"
                        add_comment_textarea_box.appendChild(add_comment_textarea_dummy)

                        let add_comment_textarea = document.createElement("textarea")
                        add_comment_textarea.id = "add_comment_textarea"
                        add_comment_textarea.classList.add("add_comment_textarea")
                        add_comment_textarea.title = "abc"
                        add_comment_textarea.placeholder = "コメントを書く"
                        add_comment_textarea.addEventListener("input", () => {
                            let eee = document.getElementById("add_comment_textarea")
                            const dummy = document.getElementById('add_comment_textarea_dummy')
                            dummy.textContent = eee.value + '\u200b'
                            eee.value = eee.value.replace(content_exclusion_pattern, "")
                            eee.value = eee.value.replace(/\n\r/g, "\n")
                            eee.value = eee.value.replace(/\r/g, "\n")
                        })
                        add_comment_textarea_box.appendChild(add_comment_textarea)
                        post_comment_button = document.createElement("button")
                        post_comment_button.id = "post_comment_button"
                        post_comment_button.classList.add("post_comment_button")
                        post_comment_button.textContent = "投稿"


                        post_comment_button.addEventListener("click", () => {
                            post_comment(selected_content_id, 0, "add_comment_textarea").then((data) => {
                                if (data["result"] == "success") {
                                    comment_id_list[comment_id_list.length] = String(data["comment_id"])
                                    amount_of_displayd_comment += 1
                                    child_comment_open_flag_list[child_comment_open_flag_list.length] = false
                                    add_comment_to_discussion_box(amount_of_displayd_comment, String(data["comment_id"]), document.getElementById("add_comment_textarea").value, "0", user_id, username)
                                    document.getElementById("add_comment_textarea").value = ""
                                    document.getElementById(`comment_box_${amount_of_displayd_comment}`).scrollIntoView({ behavior: 'smooth', block: 'center' })
                                }
                            })
                        })


                        add_comment_box.appendChild(post_comment_button)
                        if (Number(data["amount_of_displayd_comment"]) >= 1) {
                            amount_of_displayd_comment = Number(data["amount_of_displayd_comment"])
                            comment_id_list = data["comment_id_combined"].split("<")
                            comment_content_list = data["comment_content_combined"].split("<")
                            parent_comment_id_list = data["parent_comment_id_combined"].split("<")
                            comment_user_id_list = data["comment_user_id_combined"].split("<")
                            comment_username_list = data["comment_username_combined"].split("<")
                            comment_date_list = data["comment_date_combined"].split("<")
                            child_comment_open_flag_list = Array(comment_id_list.length).fill(false)
                            for (let i = 0; i < amount_of_displayd_comment; i++) {
                                add_comment_to_discussion_box(i + 1, comment_id_list[i], comment_content_list[i], parent_comment_id_list[i], comment_user_id_list[i], comment_username_list[i])
                            }
                        }
                        else {
                            let nocomment_text_div = document.createElement("div")
                            nocomment_text_div.textContent = "まだコメントがありません"
                            nocomment_text_div.style.width = "100%"
                            nocomment_text_div.style.textAlign = "center"
                            discussion_box.appendChild(nocomment_text_div)
                        }
                    }
                    else {
                        alert("エラー")
                    }
                    gray_out_search_page.style.display = "block"
                })
        }
        else {
            close_comment()
        }
    }

    function close_comment() {
        gray_out_search_page.style.display = "none"
        discussion_box_opened = false
        discussion_box.remove()
        discussion_box = document.createElement("div")
        discussion_box.id = "discussion_box"
        discussion_box.classList.add("discussion_box")
        discussion_box.style.display = "none"
        gray_out_search_page.appendChild(discussion_box)
    }

    function open_content(listed_content_number) {
        let content_box = document.getElementById(`listed_post_content_box_${listed_content_number}`)
        let already_viewed = document.getElementById(`post_already_viewed${listed_content_number}`)
        if (content_box.style.display == "none") {
            content_box.style.display = "block"
            if (already_viewed.textContent == "0") {
                already_viewed.textContent = "1"
                let post_content = document.getElementById(`listed_post_content_${listed_content_number}`)
                post_content.style.borderTop="0px"
                post_content.innerHTML = ""
                let content_split = content_list[listed_content_number - 1].split("&gt;")
                let image_count = Math.floor((content_split.length - 1) / 2)
                for (let i = 0; i < image_count; i++) {
                    post_content.innerHTML += set_text_with_newline(content_split[2 * i])
                    let listed_post_image = document.createElement("img")
                    listed_post_image.classList.add("listed_post_image")
                    listed_post_image.src = `/media/content_image/${content_id_list[listed_content_number - 1]}/${content_split[2 * i + 1]}`
                    listed_post_image.alt = `画像${i + 1}`
                    if (i + 1 == image_count) {
                        listed_post_image.addEventListener("load", () => {
                            if (content_box.offsetHeight >= document.documentElement.clientHeight / 2) {
                                relocation_page_box()
                            }
                        })
                    }
                    post_content.appendChild(listed_post_image)

                }
                post_content.innerHTML += set_text_with_newline(content_split[2 * image_count])
                if (user_id >= 1) {
                    let call_by_view_request = new XMLHttpRequest()
                    call_by_view_request.open("POST", "{% url 'home' %}view_count_doubleplus/", true)
                    call_by_view_request.setRequestHeader("Content-Type", "application/json")
                    call_by_view_request.setRequestHeader("X-CSRFToken", csrftoken)
                    request_json_data = {
                        content_id: document.getElementById(`content_id_of_displayed_post_${listed_content_number}`).textContent,
                        user_id: `{{user_id}}`,
                        session_id_1: session_id_1,
                        session_id_2: session_id_2
                    };
                    call_by_view_request.send(JSON.stringify(request_json_data))
                }
            }
        }
        else {
            content_box.style.display = "none"
            relocation_page_box()
        }
        if ("{{auto_comment_open}}" == 1) {
            open_comment(document.getElementById(`content_id_of_displayed_post_${listed_content_number}`).textContent)
        }
    }

    function add_review(listed_post_number, change____) {
        if (user_id >= 0) {
            let content_id = document.getElementById(`content_id_of_displayed_post_${listed_post_number}`).textContent
            let data = {
                change: change____,
                user_id: `{{user_id}}`,
                content_id: content_id,
                session_id_1: session_id_1,
                session_id_2: session_id_2
            }
            fetch("{% url 'home' %}review_post/", {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json',//JSON形式のデータのヘッダー
                    "X-CSRFToken": csrftoken
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => {
                    if (data["result"] == "success") {
                        let used_like_button = document.getElementById(`like_button_img_${listed_post_number}`)
                        if (data["like"] == "added") {
                            used_like_button.src = "/media/like_button_liked.png"
                            console.log(String(Number(document.getElementById(`like_count_${listed_post_number}`).textContent) + 1))
                            document.getElementById(`like_count_${listed_post_number}`).textContent = String(Number(document.getElementById(`like_count_${listed_post_number}`).textContent) + 1)
                        } else if (data["like"] == "removed") {
                            used_like_button.src = "/media/like_button_normal.png"
                            document.getElementById(`like_count_${listed_post_number}`).textContent = String(Number(document.getElementById(`like_count_${listed_post_number}`).textContent) - 1)

                        }
                        let used_dislike_button = document.getElementById(`dislike_button_img_${listed_post_number}`)
                        if (data["dislike"] == "added") {
                            used_dislike_button.src = "/media/dislike_button_disliked.png"
                            document.getElementById(`dislike_count_${listed_post_number}`).textContent = String(Number(document.getElementById(`dislike_count_${listed_post_number}`).textContent) + 1)
                        } else if (data["dislike"] == "removed") {
                            used_dislike_button.src = "/media/dislike_button_normal.png"
                            document.getElementById(`dislike_count_${listed_post_number}`).textContent = String(Number(document.getElementById(`dislike_count_${listed_post_number}`).textContent) - 1)
                        }
                    }
                    else if (data["result"] == "failed_error") {
                        alert("エラー\n\nページを読み込み直してもこのメッセージが出る場合は運営に問い合わせてください")
                    }
                });
        }
        else {
            location.href = (`{% url 'home' %}signup/`)
        }


    }

    function relocation_page_box() {
        main_middle.style.height=`100%`
        main_middle.style.height=`${ document.documentElement.scrollHeight}px`
    }

    ///ここからcontent表示

    if (dieplayed_post_number == -1) {
    }
    else if (dieplayed_post_number == 0) {
        let no_content = document.createElement("div")
        no_content.textContent = "この条件に合う投稿はありません"
        no_content.classList.add("no_content")
        main_middle.appendChild(no_content)
    }
    else if (dieplayed_post_number >= 1) {
        for (let i = 0; i < dieplayed_post_number; i++) {
            let post = document.createElement("div")
            post.id = `listed_post_${i + 1}`
            post.className = "post_display_box"
            post.style.marginTop="5vw"
            main_middle.appendChild(post)
            let post_box_left = document.createElement("div")
            post_box_left.id = `listed_post_box_left${i + 1}`
            post_box_left.className = "post_box_left"
            post.appendChild(post_box_left)
            let post_box_right = document.createElement("div")
            post_box_right.id = `listed_post_box_right${i + 1}`
            post_box_right.className = "post_box_right"
            post.appendChild(post_box_right)

            let post_content_id = document.createElement("div")
            post_content_id.id = `content_id_of_displayed_post_${i + 1}`
            post_content_id.textContent = content_id_list[i]
            post_content_id.classList.add("hidden")
            post.appendChild(post_content_id)

            let already_viewed = document.createElement("div")
            already_viewed.id = `post_already_viewed${i + 1}`
            already_viewed.textContent = "0"//0で未閲覧
            already_viewed.classList.add("hidden")
            post.appendChild(already_viewed)

            let listed_post_icon_box = document.createElement("div")
            listed_post_icon_box.id = `listed_post_icon_box_${i + 1}`
            listed_post_icon_box.classList.add("listed_post_icon_box")
            post_box_left.appendChild(listed_post_icon_box)
            listed_post_icon = document.createElement("a")
            listed_post_icon.id = `listed_post_icon_${i + 1}`
            listed_post_icon.classList.add("listed_post_icon")
            listed_post_icon.href = `{% url 'home' %}user/${user_id_list[i]}/`
            listed_post_icon.innerHTML = `<img class="icon_mini" src="/media/user_icons/user_icon_mini_${user_id_list[i]}.png" alt="icon">`
            listed_post_icon_box.appendChild(listed_post_icon)

            listed_post_username = document.createElement("a")
            listed_post_username.id = `listed_post_username_${i + 1}`
            listed_post_username.classList.add("listed_post_username")
            listed_post_username.href = `{% url 'home' %}user/${user_id_list[i]}/`
            listed_post_username.textContent = `${user_name_list[i]}`
            post_box_right.appendChild(listed_post_username)

            let post_title = document.createElement("a")
            post_title.href = `{% url 'home' %}post/${content_id_list[i]}/`
            post_title.id = `listed_post_title_${i + 1}`
            post_title.className = "post_title"
            post_title.textContent = title_list[i]
            post_box_right.appendChild(post_title)

            let post_date = document.createElement("div")
            post_date.id = `listed_post_date${i + 1}`
            post_date.classList.add("listed_post_date")
            post_date.textContent = `投稿日 ${post_date_list[i][0]}年${post_date_list[i][1]}月${post_date_list[i][2]}日${post_date_list[i][3]}時${post_date_list[i][4]}分`
            post_box_right.appendChild(post_date)

            if (overview_list[i] != "") {
                let post_overview_box = document.createElement("div")
                post_overview_box.id = `listed_post_overview_box_${i + 1}`
                post_overview_box.classList.add("post_overview_box")
                post_box_right.appendChild(post_overview_box)
                let post_overview = document.createElement("div")
                post_overview.id = `listed_post_overview_${i + 1}`
                post_overview.classList.add("post_title_overview")
                post_overview.innerHTML = set_text_with_newline(overview_list[i])
                post_overview_box.appendChild(post_overview)
            }



            let content_button_box = document.createElement("div")
            content_button_box.id = `content_button_box${i + 1}`
            content_button_box.classList.add("content_button_box")
            post.appendChild(content_button_box)

            let like_button_box = document.createElement("div")
            like_button_box.id = `like_button_box_${i + 1}`
            like_button_box.classList.add("like_button_box")
            content_button_box.appendChild(like_button_box)

            let like_button = document.createElement("button")
            like_button.id = `like_button_${i + 1}`
            like_button.classList.add("like_button")
            like_button_box.appendChild(like_button)
            like_button.type = "button"
            like_button.title = "高評価"
            like_button.addEventListener("click", add_review.bind(null, i + 1, "add_like"))

            let like_button_img = document.createElement("img")
            like_button_img.id = `like_button_img_${i + 1}`
            like_button_img.alt = "icon"
            like_button_img.classList.add("like_button")
            like_button.appendChild(like_button_img)
            if (my_review_list[i] == "liked") {
                like_button_img.src = "/media/like_button_liked.png"
            }
            else {
                like_button_img.src = "/media/like_button_normal.png"
            }

            let like_count = document.createElement("div")
            like_count.id = `like_count_${i + 1}`
            like_count.classList.add("review_count")
            like_count.textContent = like_counts_list[i]
            like_button_box.appendChild(like_count)

            let dislike_button_box = document.createElement("div")
            dislike_button_box.id = `dislike_button_box_${i + 1}`
            dislike_button_box.classList.add("dislike_button_box")
            content_button_box.appendChild(dislike_button_box)

            let dislike_button = document.createElement("disbutton")
            dislike_button.id = `dislike_button_${i + 1}`
            dislike_button.classList.add("dislike_button")
            dislike_button_box.appendChild(dislike_button)
            dislike_button.type = "button"
            dislike_button.title = "低評価"
            dislike_button.addEventListener("click", add_review.bind(null, i + 1, "add_dislike"))

            let dislike_button_img = document.createElement("img")
            dislike_button_img.id = `dislike_button_img_${i + 1}`
            dislike_button_img.alt = "icon"
            dislike_button_img.classList.add("dislike_button")
            dislike_button.appendChild(dislike_button_img)
            if (my_review_list[i] == "disliked") {
                dislike_button_img.src = "/media/dislike_button_disliked.png"
            }
            else {
                dislike_button_img.src = "/media/dislike_button_normal.png"
            }

            let dislike_count = document.createElement("div")
            dislike_count.id = `dislike_count_${i + 1}`
            dislike_count.classList.add("review_count")
            dislike_count.textContent = dislike_counts_list[i]
            dislike_button_box.appendChild(dislike_count)

            let open_comment_button_box = document.createElement("div")
            open_comment_button_box.id = `open_comment_button_box_${i + 1}`
            open_comment_button_box.classList.add("open_comment_button_box")
            let open_comment_button = document.createElement("button")
            open_comment_button.id = `open_comment_button_${i + 1}`
            open_comment_button.classList.add("open_comment_button")
            open_comment_button.textContent = "コメント"
            open_comment_button.type = "button"
            open_comment_button.title = "コメントを開く"
            open_comment_button.addEventListener("click", open_comment.bind(null, content_id_list[i]))
            content_button_box.appendChild(open_comment_button_box)
            open_comment_button_box.appendChild(open_comment_button)

            let report_button_box = document.createElement("div")
            report_button_box.id = `report_button_box_${i + 1}`
            report_button_box.classList.add("report_button_box")
            content_button_box.appendChild(report_button_box)

            let report_button = document.createElement("button")
            report_button.id = `report_button_${i + 1}`
            report_button.classList.add("report_button")
            report_button.textContent = "通報"
            report_button.title = "通報"
            report_button.addEventListener("click", () => {
                document.getElementById("report_subject_category").value = "post"
                document.getElementById("report_subject_id").value = content_id_list[i]
                document.getElementById("report_form").submit()
            })
            report_button_box.appendChild(report_button)
            if (tags_list[i] != "") {
                let post_tags_box = document.createElement("div")
                post_tags_box.id = `listed_post_tags_box_${i + 1}`
                post_tags_box.classList.add("post_tags_box")
                post_tags_box.textContent = ""
                post_tags_box.style.marginBottom="0px"
                post.appendChild(post_tags_box)
                let displayed_tag = tags_list[i].split(",")
                for (let j = 0; j < displayed_tag.length; j++) {
                    let post_tag_box = document.createElement("div")
                    post_tag_box.id = `post_tag_box_${i + 1}_${j + 1}`
                    post_tag_box.classList.add("post_tag_box")
                    post_tags_box.appendChild(post_tag_box)
                    let post_tag = document.createElement("a")
                    post_tag.id = `post_tag_${i + 1}_${j + 1}`
                    post_tag.classList.add("post_tag")
                    post_tag.textContent = "# " + displayed_tag[j]
                    post_tag_box.appendChild(post_tag)
                }
            }

            let post_content_box = document.createElement("div")
            post_content_box.id = `listed_post_content_box_${i + 1}`
            post_content_box.className = "post_content_box"
            post_content_box.style.display = "none"
            post.appendChild(post_content_box)

            let post_content = document.createElement("div")
            post_content.id = `listed_post_content_${i + 1}`
            post_content.classList.add(`listed_post_content`)
            post_content_box.appendChild(post_content)
            open_content(i+1)
        }
    }

window.addEventListener("load",()=>{
    relocation_page_box()
})

    window.addEventListener('scroll', function () {
        if (discussion_box_opened) {
relocation_page_box()
        }
    });

</script>
{% endblock %}