{% extends 'myapp/moblie_site/base.html' %}
<!---->
{% load static %}
<!--<-->
{% block head %}
<title>Kachi-xtu | ネタ、アイデア投稿サイト</title>
{% endblock %}
{% block content %}
<div class="index_box">
    <div class="index_box_s" style="margin-bottom: 0px;">
        <div class="index_text">1クリックで登録可能</div>
        <div class="index_text_d">【期間限定】1クリックで登録可能なゲストユーザー機能が利用可能、ゲストユーザーでも全ての機能を使えます<br><span>
                <div class="riyouki_link_index">
                    <a class="riyouki_link_index" href="{% url 'home' %}anytext/riyouki/">利用規約</a>
                </div>
            </span></div>
    </div>
    <button class="Login_button" style="margin-top:0px;margin-bottom:20px;" type="button"
        onclick="signup_as_guset()">利用規約に同意して登録(ゲスト)</button>
    <div class="index_box_s">
        <div class="index_text">確定コメントキャンペーン</div>
        <div class="index_text_d">アイデアを書き込んだら開発者が確実に具体的なアドバイスをします。<br><br>
            記事を書いてコメントを得ることはとても難しいですが、このサイトでは確実にコメントが付きます、気軽に投稿してみてください。
        </div>
    </div>
    <div class="index_box_s">
        <div class="index_text">"Kachi-xtu"について</div>
        <div class="index_text_d">
            "Kachi-xtu"はアイデア、ネタを投稿するサイトです。<br><br>
            新しいサービス、製品、ライフハック、キャラや技などの創作物の設定、シナリオのプロット、一発ギャグのネタなど、アイデアと呼べるものは何でも投稿可能<span style="display: block;">
                <p class="index_text_d_h">一部利用規約で禁止されているものを除き</p>
            </span>
        </div>
    </div>
    <div class="index_box_s">
        <div class="index_text">アイデアの利用は自由</div>
        <div class="index_text_d">投稿されたアイデアの利用は自由で、クレジットも不要です <br><span>
                <p class="index_text_d_h">投稿されたアイデアの利用によって生じた損失については、開発者は責任を負いません</p>
            </span></div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    const signup_as_guset = () => {
        let request_json_data = {
            username: "",
            password: "",
            mailaddress: "",
            guest_flag: "y"
        }
        fetch("{% url 'signup_process' %}", {
            method: 'post',
            headers: {
                'Content-Type': 'application/json',//JSON形式のデータのヘッダー
                "X-CSRFToken": csrftoken
            },
            body: JSON.stringify(request_json_data)
        })
            .then(response => response.json())
            .then(data => {
                if (data["result"] == "success") {
                    document.cookie = `session_id_1=${data["session_id_1"]}; path=/`
                    document.cookie = `session_id_2=${data["session_id_2"]}; path=/`
                    alert("ユーザー登録に成功しました")
                    location.href = ("{% url 'home' %}mypage/")
                }
                else if (data["result"] == "request_broken_error") {
                    alert("通信エラー\nもう一度送信してください")
                }
                else if (data["result"] == "username_overlap") {
                    alert("このニックネームはすでに使用されています\n別のものに変えてください")
                }
                else if (data["result"] == "mailaddress_overlap") {
                    alert("このメールアドレスはすでに使用されています\n別のものに変えてください")
                }
            })
    }
    

</script>
{% endblock %}