{% extends 'myapp/moblie_site/base.html' %}
<!---->
{% load static %}
<!--<-->
{% block content %}
<div class="gray_out_login_page">
    <div class="login_box">

        <div class="mailaddress_input_box">
            <h3 style="margin-top: 3vw; margin-bottom: 4vw;">ログイン</h3>
            <input class="mailaddress_input" id="mailaddress_input" type="email" name="mailaddress" form="send"
                maxlength="255" size="40" placeholder="メールアドレス" />
        </div>
        <div class="password_input_box" style="margin-top: 3vh;">
            <input class="password_input" id="password_input" type="password" name="password" form="send"
                maxlength="255" size="40" placeholder="パスワード" />
        </div><br>
        <button style="width: 40vw;margin-top: 3vw;" class="general_button_large" type="button"
            onclick="confirmation_information()">ログイン</button>


        <a href="{% url 'home' %}signup/">
            <div class="login_to_signup">
                登録はこちら
            </div>
        </a>

    </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'myapp/scripts/parts.js' %}"></script>
<script>
    document.getElementById("password_input").addEventListener("input", () => {
        if (password_patteen.test(document.getElementById("password_input").value) == false && document.getElementById("password_input").value != "") {
            alert("パスワードに使用可能な文字は英数字と!@#$%^&*()_+-=[]{}|;:',.<>?/~`のみです")
            document.getElementById("password_input").value = ""
        }
    })

    function confirmation_information() {
        let password = document.getElementById("password_input").value
        let mailaddress = document.getElementById("mailaddress_input").value
        if (mailaddress_patteen.test(mailaddress) == false) { alert("メールアドレスが不正です") }//文字数チェックも含む
        else if (password_patteen.test(password) == false) { alert("パスワードが不正です") }
        else {
            request_json_data = {
                password: password,
                mailaddress: mailaddress,
            }
            fetch("{% url 'home' %}login_process/", {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json',//JSON形式のデータのヘッダー
                    "X-CSRFToken": csrftoken
                },
                body: JSON.stringify(request_json_data)
            })
                .then(response => response.json())
                .then(data => {
                    if (data["result"] == "success") {
                        document.cookie = `session_id_1=${data["session_id_1"]}; path=/`
                        document.cookie = `session_id_2=${data["session_id_2"]}; path=/`
                        location.href = ("{% url 'my_page' %}")
                    }
                    else if (data["result"] == "incorrect_password") {
                        alert("パスワードが間違っています")
                    }
                    else if (data["result"] == "incorrect_mailaddress") {
                        alert("メールアドレスが間違っています")
                    }
                    else if (data["result"] == "failed_error") {
                        alert("エラー")
                    }
                })
        }
    }
</script>
{% endblock %}