{% extends 'myapp/moblie_site/base.html' %}
{% block head %}
<title>投稿</title>
{% endblock %}
{% block content %}
<div id="gray_out_post_page" class="gray_out_post_page">
    <div id="post_input_box" class="post_input_box">
        <div class="general_vertical_line" style="margin-left: 3vw;"></div>
        <h2 style="vertical-align: top; display: inline-block; text-align: left; margin-left: 1vw;">タイトル</h2>
        <div class="title_input_box">
            <input class="title_input" id="title_input" type="text" name="title" form="post" maxlength="50"
                title="タイトル入力" placeholder="タイトルを入力" />
        </div><br>
        <div class="general_vertical_line" style="margin-left: 3vw;"></div>
        <h2 style="vertical-align: top; display: inline-block; text-align: left; margin-left: 1vw;">内容</h2>
        <div id="content_textarea_box" class="content_textarea_box">
            <div id="content_textarea_set_1" class="content_textarea_set">
                <div class="content_textarea_dummy" style="min-height: 15vw;" id="content_textarea_dummy_1"
                    aria-hidden="true">仮テキスト</div>
                <textarea id="content_textarea_1" class="content_textarea" type="text" name="content" form="post"
                    maxlength="20000" title="内容入力" placeholder="内容を入力する"></textarea>
            </div>
            <div class="content_image_input_box" id="content_image_input_box">
                <label for="image_input" class="content_image_input_label">
                    <img class="content_image_input_label" style="pointer-events: none;"
                        src="/media/image_upload_icon.png" alt="icon">
                </label>
                <input id="image_input" type="file" style="display: none;">
            </div>
        </div>
        <div class="rest_char_count" id="rest_char_count">残り2000文字</div>
        <br>
        <div class="general_vertical_line" style="margin-left: 3vw;"></div>
        <h2 style="vertical-align: top; display: inline-block; text-align: left; margin-left: 1vw;">概要</h2>
        <div id="overview_input_box" class="overview_input_box">
            <div id="overview_textarea_dummy" class="overview_textarea_dummy" aria-hidden="true"></div>
            <textarea id="overview_textarea" class="overview_textarea" type="text" name="overview" form="post"
                maxlength="100" title="概要入力" placeholder="概要を入力する(省略可能)"></textarea>
        </div>
        <br>
        <div class="general_vertical_line" style="margin-left: 3vw;"></div>
        <h2 style="vertical-align: top; display: inline-block; text-align: left; margin-left: 1vw;">タグ</h2>
        <div class="tags_box" id="tags_box">
            <div class="tag_input_box">
                <input class="tag_input" id="tag_input_1" type="text" form="post" maxlength="20" placeholder="タグを入力" />
            </div>
            <button class="add_tag_button" id="add_tag_button" type="button" onclick="add_tag()">+</button>
            <input type="hidden" id="joined_tags" name="joined_tags" value="" form="post" aria-hidden="true">
        </div>
        <div class="post_button_box">
            <button class="post_button" id="post_button" type="button" onclick="check_and_post()">投稿</button>
            <form name="post_form" id="post" action="{% url 'home' %}post/process/" method="POST">{%csrf_token %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block out_of_box %}


<script>
    const delimiter = "\u200b"
    const user_id = Number("{{user_id}}")
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    const session_id_key_1 = 'session_id_1';
    const session_id_key_2 = 'session_id_2';
    /// 正規表現でcookie値を取得
    const session_id_1 = document.cookie.match(new RegExp(session_id_key_1 + '\=([^\;]*)\;*'))[1];
    const session_id_2 = document.cookie.match(new RegExp(session_id_key_2 + '\=([^\;]*)\;*'))[1];

    var onevw = document.documentElement.clientWidth / 100
    var onevh = document.documentElement.clientHeight / 100
    let javascript死ね = document.getElementById("gray_out_post_page").offsetHeight
    if (javascript死ね < document.documentElement.clientHeight * 0.8) {
        javascript死ね = document.documentElement.clientHeight * 11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111
    }
    const defalt_gray_out_box_hight = javascript死ね
    const defalt_post_input_box_height = document.getElementById("post_input_box").offsetHeight
    const defalt_total_input_height = document.getElementById("content_textarea_box").offsetHeight + document.getElementById("overview_input_box").offsetHeight + document.getElementById("tags_box").offsetHeight



    if (user_id <= 0) {
        location.href = ("{% url 'home' %}signup/")
    }


    function censor_content(text) {
        let censored_text = text.replace(/</g, "＜")
        censored_text = censored_text.replace(/>/g, "＞")
        censored_text = censored_text.replace(content_exclusion_pattern, "")
        censored_text = censored_text.replace(/\n\r/g, "\n")
        censored_text = censored_text.replace(/\r/g, "\n")
        return censored_text
    }

    function count_specific_word(text, exclude_word) {

        let matches = text.match(new RegExp(exclude_word, "g"))
        return matches ? matches.length : 0
    }

    function relocation_post_box() {
        let now_total_input_height = document.getElementById("content_textarea_box").offsetHeight + document.getElementById("overview_input_box").offsetHeight + document.getElementById("tags_box").offsetHeight
        if ((defalt_gray_out_box_hight + now_total_input_height - defalt_total_input_height) / onevw <= 60) {
        }
        document.getElementById("gray_out_post_page").style.height = `${defalt_gray_out_box_hight + now_total_input_height - defalt_total_input_height}px`
        document.getElementById("post_input_box").style.height = `${defalt_post_input_box_height + now_total_input_height - defalt_total_input_height}px`
        document.getElementById("main_body").style.height = `${defalt_gray_out_box_hight + now_total_input_height - defalt_total_input_height}px`
    }

    function ready_to_post() {
        var blackout = document.getElementById("blackout_normal_window");
        var overview_tags_form = document.getElementById("dicision_tags_overview");
        blackout.style.display = "inline"
        overview_tags_form.style.display = "inline"
    }
    var input_content_flag = false;
    var input_overview = false;
    const content_exclusion_pattern = /(<|>|\u200b|\t)+/g
    document.getElementById("title_input").addEventListener("input", () => {
        let e1 = document.getElementById("title_input")
        if (content_exclusion_pattern.test(e1.value)) {
            e1.value = censor_content(e1.value)
        }
    })


    var content_textarea_set_list = [document.getElementById("content_textarea_set_1")]
    const content_textarea_box = document.getElementById("content_textarea_box")
    const content_textarea = document.getElementById("content_textarea_1")
    var content_textarea_list = [content_textarea]
    const content_textarea_dummy = document.getElementById("content_textarea_dummy_1")
    var content_textarea_dummy_list = [content_textarea_dummy]
    var pre_content_list = [""]

    content_textarea.addEventListener("input", () => {
        if (input_content_flag == false) {
            input_content_flag = true
        }
        content_input_event(0)
        relocation_post_box()
    })
    const rest_char_count_el = document.getElementById("rest_char_count")
    function content_input_event(textarea_index) {
        let cursor_pos = content_textarea_list[textarea_index].selectionEnd
        if (content_exclusion_pattern.test(content_textarea_list[textarea_index].value)) {
            content_textarea_list[textarea_index].value = censor_content(content_textarea_list[textarea_index].value)
            content_textarea_list[textarea_index].selectionEnd = cursor_pos
            content_textarea_list[textarea_index].selectionStart = cursor_pos
        }
        let now_char_count = check_charcter_count()
        if (now_char_count > 20000) {
            for (i = 0; i < image_count + 1; i++) {
                content_textarea[i].value = pre_content_list[i]
            }
        }
        else if (now_char_count > 19000) {
            rest_char_count_el.style.display = "block"
            rest_char_count_el.textContent = `残り${20000 - now_char_count}文字`
        }
        else {
            rest_char_count_el.style.display = "none"
            content_textarea_dummy_list[textarea_index].textContent = content_textarea_list[textarea_index].value + '\u200b'// + '\u200b'は改行した後何も書いてないときのため
            pre_content_list[textarea_index] = content_textarea_list[textarea_index].value
        }
    }

    function reset_pre_content_list() {
        for (i = 0; i < image_count + 1; i++) {
            pre_content_list[i] = content_textarea_list[i].value
        }
    }
    var pre_focused_textarea_index = 0

    function focus_textare(textarea_index) {
        pre_focused_textarea_index = textarea_index
        isfocused_loop()
    }

    var pre_cursor_position = 0

    function isfocused_loop() {
        if (document.activeElement == content_textarea_list[pre_focused_textarea_index]) {
            pre_cursor_position = content_textarea_list[pre_focused_textarea_index].selectionEnd
            requestAnimationFrame(isfocused_loop);
        }
    }

    content_textarea.addEventListener('focus', () => {
        focus_textare(0)
    })

    var image_input_processing_flag = false
    var image_list = []
    var image_count = 0
    var image_src_list = []
    var content_image_box_list = []
    var content_image_element_list = []
    var content_image_delete_button_list = []
    const image_input = document.getElementById("image_input")

    function insert_image_between_textarea() {
        if (image_input_processing_flag == false) {
            image_list.splice(pre_focused_textarea_index, 0, image_input.files[0])
            image_input.value = ""
            let lastDotPosition = image_list[pre_focused_textarea_index].name.lastIndexOf('.')
            if (lastDotPosition == -1) {
                alert("使用できる画像はpngとjpegのみです\n正しいファイルか確認してください")
            }
            else {
                let extension = image_list[pre_focused_textarea_index].name.substring(lastDotPosition + 1).toLowerCase()
                if (extension == "png" || extension == "jpg" || extension == "jpeg") {
                    if (image_input.files && image_list[pre_focused_textarea_index]) {
                        image_input_processing_flag = true
                        var reader = new FileReader()
                        reader.onload = function (e) {
                            if (image_count == 0) {
                                content_textarea_dummy_list[0].style.minHeight = "0vw"
                            }
                            image_src_list.splice(pre_focused_textarea_index, 0, e.target.result)
                            if (input_content_flag == false) {

                                input_content_flag = true
                            }

                            let new_content_textarea_set = document.createElement("div")
                            new_content_textarea_set.id = `content_textarea_set_${pre_focused_textarea_index + 2}`
                            new_content_textarea_set.classList.add("content_textarea_set")

                            let new_content_textarea = document.createElement("textarea")
                            new_content_textarea.id = `content_textarea_${pre_focused_textarea_index + 2}`
                            new_content_textarea.classList.add("content_textarea")
                            new_content_textarea.value = content_textarea_list[pre_focused_textarea_index].value.substring(pre_cursor_position)
                            new_content_textarea.addEventListener("input", (e) => {
                                content_input_event(Number(e.currentTarget.id.slice("content_textarea_".length)) - 1)
                                relocation_post_box()
                            })
                            new_content_textarea.addEventListener("focus", (e) => {
                                focus_textare(Number(e.currentTarget.id.slice("content_textarea_".length)) - 1)
                            })
                            content_textarea_list[pre_focused_textarea_index].value = content_textarea_list[pre_focused_textarea_index].value.slice(0, pre_cursor_position)
                            content_textarea_dummy_list[pre_focused_textarea_index].textContent = content_textarea_list[pre_focused_textarea_index].value + "\u200b"
                            let new_content_textarea_dummy = document.createElement("div")
                            new_content_textarea_dummy.id = `content_textarea_dummy_${pre_focused_textarea_index + 2}`
                            new_content_textarea_dummy.classList.add("content_textarea_dummy")
                            new_content_textarea_dummy.textContent = new_content_textarea.value + "\u200b"

                            let new_content_image_box = document.createElement("div")
                            new_content_image_box.id = `content_image_box_${pre_focused_textarea_index + 1}`
                            new_content_image_box.classList.add("content_image_box")

                            let image_el = document.createElement("img")
                            image_el.id = `content_image_${pre_focused_textarea_index + 1}`
                            image_el.classList.add("content_image")
                            image_el.src = image_src_list[pre_focused_textarea_index]
                            image_el.addEventListener("load", () => { relocation_post_box() })

                            let new_content_image_delete_button = document.createElement("button")
                            new_content_image_delete_button.id = `content_image_delete_button_${pre_focused_textarea_index + 1}`
                            new_content_image_delete_button.classList.add("content_image_delete_button")
                            new_content_image_delete_button.textContent = "×"
                            new_content_image_delete_button.addEventListener("click", (e) => {
                                delete_image(Number(e.currentTarget.id.slice("content_image_delete_button_".length)) - 1)
                            })

                            let nazekairu = document.getElementById(`content_image_box_${pre_focused_textarea_index + 1}`)//なぜかIDを変える前に取得しないといけない
                            for (let i = pre_focused_textarea_index; i < image_count; i++) {//idを重複させないだけが目的
                                content_textarea_set_list[i + 1].id = `content_textarea_set_${i + 3}`
                                content_textarea_list[i + 1].id = `content_textarea_${i + 3}`
                                content_textarea_dummy_list[i + 1].id = `content_textarea_dummy_${i + 3}`
                                content_image_element_list[i].id = `content_image_${i + 2}`
                                content_image_box_list[i].id = `content_image_box_${i + 2}`
                                content_image_delete_button_list[i].id = `content_image_delete_button_${i + 2}`
                            }

                            if (image_count == pre_focused_textarea_index) {
                                content_textarea_box.appendChild(new_content_image_box)
                                content_textarea_box.appendChild(new_content_textarea_set)
                            }
                            else {
                                content_textarea_box.insertBefore(new_content_image_box, content_image_box_list[pre_focused_textarea_index])
                                content_textarea_box.insertBefore(new_content_textarea_set, content_image_box_list[pre_focused_textarea_index])
                            }
                            new_content_textarea_set.appendChild(new_content_textarea)
                            new_content_textarea_set.appendChild(new_content_textarea_dummy)
                            new_content_image_box.appendChild(image_el)
                            new_content_image_box.appendChild(new_content_image_delete_button)

                            content_textarea_set_list.splice(pre_focused_textarea_index + 1, 0, new_content_textarea_set)
                            content_textarea_list.splice(pre_focused_textarea_index + 1, 0, new_content_textarea)
                            content_textarea_dummy_list.splice(pre_focused_textarea_index + 1, 0, new_content_textarea_dummy)

                            content_image_box_list.splice(pre_focused_textarea_index, 0, new_content_image_box)
                            content_image_element_list.splice(pre_focused_textarea_index, 0, image_el)
                            content_image_delete_button_list.splice(pre_focused_textarea_index, 0, new_content_image_delete_button)

                            document.activeElement = new_content_textarea
                            pre_focused_textarea_index = pre_focused_textarea_index + 1
                            image_count++
                            image_input_processing_flag = false
                            reset_pre_content_list()
                            relocation_post_box()
                        }
                        reader.onerror = function () {
                            image_input_processing_flag = false
                            alert("エラー\nページを再読み込みします")
                            window.location.reload(true)
                        }
                        reader.readAsDataURL(image_list[pre_focused_textarea_index])
                    }
                    else {
                        alert("エラー")
                    }
                }
                else {
                    alert("使用できる画像はpngとjpegのみです\n正しいファイルか確認してください")
                }
            }


        }
        else {
            alert("処理中です")
        }
    }


    function delete_image(image_index) {
        image_list.splice(image_index, 1)
        image_src_list.splice(image_index, 1)
        content_textarea_list[image_index].value += content_textarea_list[image_index + 1].value
        content_textarea_dummy_list[image_index].textContent = content_textarea_list[image_index].value + "\u200b"
        document.getElementById(`content_image_box_${image_index + 1}`).remove()
        document.getElementById(`content_textarea_set_${image_index + 2}`).remove()
        for (let i = image_index + 1; i < image_count; i++) {//この時点ではimage_countは減ってない
            content_image_element_list[i].id = `content_image_${i}`
            content_image_box_list[i].id = `content_image_box_${i}`
            content_image_delete_button_list[i].id = `content_image_delete_button_${i}`
            content_textarea_set_list[i + 1].id = `content_textarea_set_${i + 1}`
            content_textarea_list[i + 1].id = `content_textarea_${i + 1}`
            content_textarea_dummy_list[i + 1].id = `content_textarea_dummy_${i + 1}`
        }
        content_textarea_set_list.splice(image_index + 1, 1)
        content_textarea_list.splice(image_index + 1, 1)
        content_textarea_dummy_list.splice(image_index + 1, 1)
        content_image_element_list.splice(image_index, 1)
        content_image_box_list.splice(image_index, 1)
        content_image_delete_button_list.splice(image_index, 1)
        image_count--
        reset_pre_content_list()
    }

    document.getElementById("image_input").addEventListener("change", () => {
        insert_image_between_textarea()
    })

    function check_charcter_count() {
        char_count = 0
        for (i = 0; i < image_count + 1; i++) {
            char_count += content_textarea_list[i].value.length
        }
        return char_count
    }

    const height_of_new_line = parseInt(getComputedStyle(content_textarea).lineHeight, 10)
    var content_image_new_line_numbre_list = []


    document.getElementById("overview_textarea").addEventListener('input', () => {
        let cursor_pos = content_textarea_list[textarea_index].selectionEnd
        let e3 = document.getElementById("overview_textarea")
        let dummy3 = document.getElementById("overview_textarea_dummy")
        if (input_overview == false) {
            input_overview = true
            dummy3.textContent = ""
            dummy3.style.visibility = "hidden"
        }
        if (content_exclusion_pattern.test(e3.value)) {
            e3.value = censor_content(e3.value)
            e3.selectionStart = cursor_pos
            e3.selectionEnd = cursor_pos
        }
        let matches = e3.value.match(/\n/g)
        let new_line_count = matches ? matches.length : 0
        if (new_line_count >= 3) {
            let texts = e3.value.split("\n")
            e3.value = ""
            for (let i = 0; i < texts.length; i++) {
                e3.value += texts[i]
                if (i <= 1) {//二回まで
                    e3.value += "\n"//new_line_count >= 3なので無条件で改行が足せる
                }
            }
            e3.selectionStart = cursor_pos
            e3.selectionEnd = cursor_pos
        }
        dummy3.textContent = e3.value + '\u200b'
        relocation_post_box()
    })

    const tags_exclusion_pattern = /<|>| |　|,|\u200b|\t|\n|\r/g
    var tags_count = 1
    const add_tag_button = document.getElementById("add_tag_button");

    function input_tag_input(conut) {
        document.getElementById(`tag_input_${conut}`).value = censor_content(document.getElementById(`tag_input_${conut}`).value)
        document.getElementById(`tag_input_${conut}`).value = document.getElementById(`tag_input_${conut}`).value.replace(tags_exclusion_pattern, "")
    }
    document.getElementById("tag_input_1").addEventListener("input", input_tag_input.bind(null, 1))

    function add_tag() {
        if (tags_count <= 9)//タグが9個のときまでタグ入力ボックスを一つ追加つまりタグは最大10個
        {
            tags_count += 1;
            var tag_input_box = document.createElement("div");
            tag_input_box.classList.add("tag_input_box");
            add_tag_button.before(tag_input_box);

            var tag_input = document.createElement("input");
            tag_input.classList.add("tag_input")
            tag_input.id = `tag_input_${tags_count}`
            tag_input.type = "text"
            tag_input.maxLength = "20"
            tag_input.placeholder = "タグを入力"
            tag_input.addEventListener("input", input_tag_input.bind(null, tags_count))
            tag_input.addEventListener("input", relocation_post_box())
            tag_input_box.appendChild(tag_input)
        }
    }
    var post_processing_flag = false
    function check_and_post() {
        let formData = new FormData();
        formData.append(
            "json",
            new Blob([JSON.stringify({ test: "test" })], {
                type: "application/json",
            })
        );
        fetch("{% url 'home' %}post/process/", {
            method: 'POST',
            headers: {
                "X-CSRFToken": csrftoken
            },
            body: formData
        })
        alert("aaa")
        if (post_processing_flag == false) {
            let title = document.getElementById("title_input").value
            let content = ""
            for (let i = 0; i < image_count; i++) {
                content += censor_content(content_textarea_list[i].value)
                content += ">" + `${i + 1}` + ">"
            }
            content += censor_content(content_textarea_list[image_count].value)
            let overview = document.getElementById("overview_textarea").value
            if (document.getElementById("title_input").value == "") { alert("タイトルを入力してください") }
            else if (content == "") { alert("内容を入力してください") }
            else if (content_exclusion_pattern.test(title)) {

            }
            else if (content_exclusion_pattern.test(overview)) {

            }
            else if (/\u200b/g.test(content)) {
                alert("エラー 0幅文字は使えません")
            }
            else if (title.length >= 51) {

            }
            else if (content.length >= 20001) {

            }
            else if (overview.length >= 101) {

            }
            else {
                joined_tags = document.getElementById("joined_tags")
                var tags_error = false
                for (let i = 0; i < tags_count; i++) {
                    if (tags_exclusion_pattern.test(document.getElementById(`tag_input_${i + 1}`).value)) {
                        tags_error = true;
                    }
                    joined_tags.value += document.getElementById(`tag_input_${i + 1}`).value//タグのidは1から数える
                    if (i < (tags_count - 1)) { joined_tags.value += "," }//最後のタグではないなら
                }
                if (tags_error) {
                    alert("タグに,と全角半角の空白は使用できません")
                    joined_tags.value = ""
                }
                else {
                    post_processing_flag = true
                    let formData = new FormData()
                    request_json_data = {
                        session_id_1: session_id_1,
                        session_id_2: session_id_2,
                        title: title,
                        content: content,
                        overview: overview,
                        joined_tags: joined_tags.value,
                        image_count: String(image_count)
                    }
                    formData.append('json', new Blob([JSON.stringify(request_json_data)], { type: 'application/json' }))
                    if (image_count == 0) {
                        fetch("{% url 'home' %}post/process/", {
                            method: 'POST',
                            headers: {
                                "X-CSRFToken": csrftoken
                            },
                            body: formData
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data["result"] == "success") {
                                    location.href = (`{% url 'home' %}post/${data["content_id"]}`)
                                }
                                else if (data["result"] == "title_overlap") {
                                    alert("既に同じタイトルの投稿が存在します\nタイトルを変えてください")
                                    post_processing_flag = false
                                }
                                else {
                                    alert("エラー1873912381279\nページを再読み込みします")
                                    window.location.reload(true)
                                }
                            })
                    }
                    else {
                        let image_read_count = 0
                        for (let i = 0; i < image_count; i++) {
                            let image_reader = new FileReader()
                            image_reader.onload = function (event) {
                                let imageBlob = new Blob([event.target.result], { type: image_list[i].type })
                                formData.append(`image_file_${i + 1}`, imageBlob)
                                image_read_count++
                                if (image_read_count == image_count) {

                                    fetch("{% url 'home' %}post/process/", {
                                        method: 'POST',
                                        headers: {
                                            "X-CSRFToken": csrftoken
                                        },
                                        body: formData
                                    })
                                        .then(response => response.json())
                                        .then(data => {
                                            if (data["result"] == "success") {
                                                //location.href = (`{% url 'home' %}post/${data["content_id"]}`)
                                            }
                                            else if (data["result"] == "title_overlap") {
                                                alert("既に同じタイトルの投稿が存在します\nタイトルを変えてください")
                                                post_processing_flag = false
                                            }
                                            else {
                                                alert("エラー1873912381279\nページを再読み込みします")
                                                window.location.reload(true)
                                                post_processing_flag = false
                                            }
                                        })
                                }

                            }
                            image_reader.readAsArrayBuffer(image_list[i])
                        }
                    }
                    joined_tags.value = ""//謎のタグが何回も追加されるバグ対策
                }
            }
        }
        else {
            alert("投稿処理中です")
        }
    }

    const content_image_input_box = document.getElementById("content_image_input_box")
    const defalt_image_input_box_y_pos_top_divided_vw = (content_image_input_box.getBoundingClientRect().top + window.pageYOffset) / onevw

    function constant_loop() {
        set_image_input_position()
        requestAnimationFrame(constant_loop);
    }

    constant_loop()

    function set_image_input_position() {
        onevh = document.documentElement.clientHeight / 100
        onevw = document.documentElement.clientWidth / 100
        let content_textarea_box_y_pos_top = content_textarea_box.getBoundingClientRect().top
        let content_textarea_box_y_pos_bottom = content_textarea_box.getBoundingClientRect().bottom
        let image_input_y_pos_top = content_image_input_box.getBoundingClientRect().top
        let image_input_y_pos_bottom = content_image_input_box.getBoundingClientRect().bottom
        let scrolly = window.pageYOffset
        content_image_input_box.style.top = `${scrolly - defalt_image_input_box_y_pos_top_divided_vw * onevw + 20 * onevh}px`
        image_input_y_pos_top = content_image_input_box.getBoundingClientRect().top
        image_input_y_pos_bottom = content_image_input_box.getBoundingClientRect().bottom
        if (image_input_y_pos_top < content_textarea_box_y_pos_top) {
            content_image_input_box.style.top = "0px"
        }
        if (image_input_y_pos_bottom > content_textarea_box_y_pos_bottom) {
            content_image_input_box.style.top = `${content_textarea_box.offsetHeight - content_image_input_box.offsetHeight}px`//style.bottomだと機能しない
        }
    }

    window.addEventListener("scroll", () => {
        set_image_input_position()
    })

    window.addEventListener("touchmove", () => {
        set_image_input_position()
    })
</script>
</div>

{% endblock %}