{% extends 'myapp/moblie_site/base.html' %}
<!---->
{% load static %}
<!--<-->
{% block title %}
検索
{% endblock %}
{% block content %}
<div class="search_box">
    <form id="search" action="{% url 'home' %}search/" method="GET">
        <input id="search_mode" type="hidden" name="search_mode" form="search" value="{{search_mode}}" />
        <input id="page_number" type="hidden" name="page_number" form="search" value="1" />
        <input id="search_subjects_joined" type="hidden" name="search_subjects_joined" form="search"
            value="{{search_subjects_joined}}" />
    </form>
    <div id="Search_mode_select_button_box" class="Search_mode_select_button_box">
        <button id="search_mode_select_normal" class="Search_mode_select_button_selected">
            通常
        </button>
        <button id="search_mode_select_detail" class="Search_mode_select_button">
            詳細
        </button>
        <script>
            document.getElementById("search_mode_select_normal").addEventListener("click", () => {
                select_search_mode("normal")
            })
            document.getElementById("search_mode_select_detail").addEventListener("click", () => {
                select_search_mode("detail")
            })
            if (document.getElementById("search_mode").value == "normal") {
            }
            else {
                document.getElementById("search_mode_select_normal").className = "Search_mode_select_button"
                document.getElementById("search_mode_select_detail").className = "Search_mode_select_button_selected"
            }
        </script>
    </div>
    <div class="search_input_box">
        検索
        <input class="search_input" id="search_input" name="search_words" type="text" form="search"
            placeholder="検索ワードを入力" value="{{search_words}}" />
    </div>

    <div class="search_input_box">
        除外
        <input class="search_input" id="search_input" name="search_words_exclude" type="text" form="search"
            placeholder="除外ワードを入力" value="{{search_words_exclude}}" />
    </div>

    <div class="search_order_select_box">
        並び順
        <select title="並び順" class="search_order_select" name="post_order" id="post_order_select" form="search">
            <option value="new_post">投稿日(新しい順)</option>
            <option value="old_post">投稿日(古い順)</option>
            <option value="view_many_total">閲覧数(多い順)</option>
            <option value="view_many_few">閲覧数(少ない順)</option>
            <option value="like_count_many">高評価(多い順)</option>
            <option value="like_count_few">高評価(少ない順)</option>
            <option value="dislike_count_many">低評価(多い順)</option>
            <option value="dislike_count_few">低評価(少ない順)</option>
            <option value="like_dislike_ratio_much">平均評価(高い順)</option>
            <option value="like_dislike_ratio_little">平均評価(低い順)</option>
        </select>
        <script>
            document.getElementById("post_order_select").value = "{{post_order}}"
        </script>
    </div>
    <div class="search_mode_detail_box" id="search_mode_detail_box" style="display: none;">
        <div class="Select_search_subject_button_box">
            <div class="Select_search_subject_button_box_text">検索対象:</div>
            <button class="Slect_subject_button_selected" id="search_mode_select_title"
                onclick="set_search_subject('title')">タイトル</button>
            <button class="Slect_subject_button_selected" id="search_mode_select_content"
                onclick="set_search_subject('content')">本文</button>
            <button class="Slect_subject_button_selected" id="search_mode_select_overview"
                onclick="set_search_subject('overview')">概要</button>
            <button class="Slect_subject_button_selected" id="search_mode_select_tags"
                onclick="set_search_subject('tags')">タグ</button>
        </div>
    </div>
    <script>
        if (document.getElementById("search_mode").value == "detail") {
            document.getElementById("search_mode_detail_box").style.display = "inline"
        }
    </script>
    <div class="search_button_box">
        <button class="search_button" id="search_button" type="submit" form="search">
            検索
        </button>
    </div>
</div>
<div class="link_to_alter_page_number_box" id="link_to_alter_page_number"></div>
{% endblock %} {% block out_of_box %}

<form id="report_form" action="{% url 'home' %}report/" method="GET">
    {% csrf_token %}
    <input id="report_subject_category" type="hidden" name="subject_category" form="report_form" value="post" />
    <input id="report_subject_id" type="hidden" name="subject_id" form="report_form" value="1" />
</form>
{% endblock %}
<!--<-->
{% block script %}
<script src="{% static 'myapp/scripts/parts.js' %}"></script>

<script>
    const main_middle=document.getElementById("main_middle")
    const gray_out_search_page = document.getElementById("gray_out_out_of_main")
    var user_id = Number(`{{user_id}}`)
    const username = `{{username}}`
    const session_id_key_1 = 'session_id_1'
    const session_id_key_2 = 'session_id_2'
    /// 正規表現でcookie値を取得
    const session_id_1 = document.cookie.match(new RegExp(session_id_key_1 + '\=([^\;]*)\;*'))[1]
    const session_id_2 = document.cookie.match(new RegExp(session_id_key_2 + '\=([^\;]*)\;*'))[1]

    const select_search_mode = (change) => {
        if (change == "normal") {
            document.getElementById("search_mode").value = "normal"
            document.getElementById("search_mode_select_normal").className = "Search_mode_select_button_selected"
            document.getElementById("search_mode_select_detail").className = "Search_mode_select_button"
            document.getElementById("search_subjects_joined").value = defalt_search_subjects.join(",")
            for (let i = 0; i < defalt_search_subjects.length; i++) {
                document.getElementById("search_mode_select_" + defalt_search_subjects[i]).className = "Slect_subject_button_selected"
            }
            document.getElementById("search_mode_detail_box").style.display = "none"
        }
        else {
            document.getElementById("search_mode").value = "detail"
            document.getElementById("search_mode_select_normal").className = "Search_mode_select_button"
            document.getElementById("search_mode_select_detail").className = "Search_mode_select_button_selected"
            document.getElementById("search_mode_detail_box").style.display = "inline"
        }

    }

    const defalt_search_subjects = ["title", "content", "overview", "tags"]

    for (let i = 0; i < defalt_search_subjects.length; i++) {
        if (document.getElementById("search_subjects_joined").value.split(",").includes(defalt_search_subjects[i])) {
            document.getElementById("search_mode_select_" + defalt_search_subjects[i]).className = "Slect_subject_button_selected"
        }
        else {
            document.getElementById("search_mode_select_" + defalt_search_subjects[i]).className = "Slect_subject_button"
        }
    }

    const set_search_subject = (subject) => {
        let search_subjects = document.getElementById("search_subjects_joined").value.split(",")
        if (search_subjects.includes(subject)) {
            document.getElementById("search_mode_select_" + subject).className = "Slect_subject_button"
            search_subjects = search_subjects.filter(function (item) {
                return item !== subject;
            });
        }
        else {
            document.getElementById("search_mode_select_" + subject).className = "Slect_subject_button_selected"
            search_subjects.push(subject)
        }
        document.getElementById("search_subjects_joined").value = search_subjects.join(",")
    }

    const onevw = document.documentElement.clientWidth / 100
    const onevh = document.documentElement.clientHeight / 100

    let discussion_box = document.getElementById("discussion_box")
    let discussion_box_opened = false
    let discussion_box_opened_content_id
    let request_json_data

    let amount_of_displayd_comment = 0
    let comment_id_list = []
    let comment_content_list = []
    let parent_comment_id_list = []
    let comment_user_id_list = []
    let comment_username_list = []
    let comment_date_list = []
    let child_comment_open_flag_list = []

    let dieplayed_post_number = Number(`{{amount_of_displayed_post}}`)
    let page_number = Number(`{{page_number}}`)
    let total_page_number = Number(`{{total_page_number}}`)
    let content_id_list = `{{content_id_combined}}`.split("<")
    let title_list = `{{title_combined}}`.split("<")
    let content_list = `{{content_combined}}`.split("<")
    let user_id_list = `{{user_id_combined}}`.split("<")
    let user_name_list = `{{user_name_combined}}`.split("<")
    let overview_list = `{{overview_combined}}`.split("<")
    let word_counts_list = `{{word_counts_combined}}`.split("<")
    let tags_list = `{{tags_combined}}`.split("<")
    let my_review_list = `{{my_review_combined}}`.split("<")
    let like_counts_list = `{{like_counts_combined}}`.split("<")
    let dislike_counts_list = `{{dislike_counts_combined}}`.split("<")
    let post_date_list = `{{post_date_combined}}`.split("<")
    let comment_count_list = `{{comment_count_combined}}`.split("<")
    let post_dict_list = []
    for (let i = 0; i < dieplayed_post_number; i++) {
        post_dict_list[i] = {
            content_id: Number(content_id_list[i]),
            title: title_list[i],
            content: content_list[i],
            overview: overview_list[i],
            tags: tags_list[i],
            post_date: post_date_list[i],
            user_id: Number(user_id_list[i]),
            username: user_name_list[i],
            my_review: my_review_list[i],
            like_count: Number(like_counts_list[i]),
            dislike_count: Number(dislike_counts_list[i]),
            comment_count: Number(comment_count_list[i])
        }
    }

    let post_box_list = []
    if (dieplayed_post_number == -1) {
    }
    else if (dieplayed_post_number == 0) {
        let no_content = document.createElement("div")
        no_content.textContent = "この条件に合う投稿はありません"
        no_content.classList.add("no_content")
        main_middle.appendChild(no_content)
    }
    else if (dieplayed_post_number >= 1) {
        if (total_page_number != 1) {
            let top_transition_page_box = document.createElement("div")
            top_transition_page_box.classList.add("transition_page_box")
            top_transition_page_box.id = "top_transition_page_box"
            main_middle.appendChild(top_transition_page_box)

            let top_current_page_box = document.createElement("button")
            top_current_page_box.classList.add("current_page_box")
            top_current_page_box.id = "top_current_page_box"
            top_current_page_box.textContent = String(page_number)
            top_transition_page_box.appendChild(top_current_page_box)

            if (page_number != 1) {
                let top_previous_page_button = document.createElement("button")
                top_previous_page_button.classList.add("previous_page_button")
                top_previous_page_button.id = "top_previous_page_button"
                top_previous_page_button.title = "前のページ"
                top_previous_page_button.textContent = String(page_number - 1)
                top_transition_page_box.appendChild(top_previous_page_button)
                top_previous_page_button.addEventListener("click", () => {
                    document.getElementById("page_number").value = String(page_number - 1)
                    document.getElementById('search').submit();
                })
            }

            if (total_page_number != page_number) {
                let top_next_page_button = document.createElement("button")
                top_next_page_button.classList.add("next_page_button")
                top_next_page_button.id = "top_next_page_button"
                top_next_page_button.textContent = String(page_number + 1)
                top_next_page_button.title = "次のページ"
                top_transition_page_box.appendChild(top_next_page_button)
                top_next_page_button.addEventListener("click", () => {
                    document.getElementById("page_number").value = String(page_number + 1)
                    document.getElementById('search').submit();
                })
            }
        }
        try {
            for (let i = 0; i < dieplayed_post_number; i++) {

                post_box_list[i] = new post_component(
                    {
                        display_delete_post_button: false,
                        out_of_main: document.getElementById("gray_out_search_page"),
                    },
                    main_middle,
                    post_dict_list[i]
                )
            }
        }
        catch (e) {
            alert(e)
        }


        if (total_page_number != 1) {
            let bottom_transition_page_box = document.createElement("div")
            bottom_transition_page_box.classList.add("transition_page_box")
            bottom_transition_page_box.id = "bottom_transition_page_box"
            main_middle.appendChild(bottom_transition_page_box)

            let bottom_current_page_box = document.createElement("button")
            bottom_current_page_box.classList.add("current_page_box")
            bottom_current_page_box.id = "bottom_current_page_box"
            bottom_current_page_box.textContent = String(page_number)
            bottom_transition_page_box.appendChild(bottom_current_page_box)

            if (page_number != 1) {
                let bottom_previous_page_button = document.createElement("button")
                bottom_previous_page_button.classList.add("previous_page_button")
                bottom_previous_page_button.id = "bottom_previous_page_button"
                bottom_previous_page_button.title = "前のページ"
                bottom_previous_page_button.textContent = String(page_number - 1)
                bottom_transition_page_box.appendChild(bottom_previous_page_button)
                bottom_previous_page_button.addEventListener("click", () => {
                    document.getElementById("page_number").value = String(page_number - 1)
                    document.getElementById('search').submit();
                })
            }

            if (total_page_number != page_number) {
                let bottom_next_page_button = document.createElement("button")
                bottom_next_page_button.classList.add("next_page_button")
                bottom_next_page_button.id = "bottom_next_page_button"
                bottom_next_page_button.textContent = String(page_number + 1)
                bottom_next_page_button.title = "次のページ"
                bottom_transition_page_box.appendChild(bottom_next_page_button)
                bottom_next_page_button.addEventListener("click", () => {
                    document.getElementById("page_number").value = String(page_number + 1)
                    document.getElementById('search').submit();
                })
            }
        }

    }
</script>
{% endblock %}