{% load static %}

<!doctype html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/style.css' %}">
  {% block head %}{% endblock %}
</head>

<body id="main_body">
  <header id="site-title">
    <div class="site_header">
      <div class="header_image">
        <a class="header_image" href="exp://efdpmr8-anonymous-8081.exp.direct">
          <img class="header_image" src="/media/test_logo.png" alt="header">
        </a>
      </div>
      <div class="header_search_box" id="header_search_box">
        <input class="header_search_input" id="header_search_input" type="text" form="header_search_form"
          placeholder="検索ワードを入力">
        <form id="header_search_form" action="{% url 'home' %}search/" method="GET">{% csrf_token %}
          <input type="hidden" name="page_number" form="header_search_form" value="1" />
        </form>
      </div>
      <div class="to_write_page">
        <a class="to_write_page" style="text-decoration:none;" href="{% url 'home' %}post/">
          投稿
        </a>
      </div>
      <div class="branch_out_by_login">
        <div class="to_login_page" id="to_login_page">
          <a style="text-decoration:none;" href="{% url 'home' %}login/">
            login
          </a>
          <a style="text-decoration:none;" href="{% url 'home' %}signup/">
            登録
          </a>
        </div>
        <div class="to_mypage_link" id="to_mypage_box">
          <a id="to_mypage_box_link" class="to_mypage_link" href="{% url 'home' %}mypage/">
            ホーム
          </a>
          <a id="to_mypage_box_link" href="{% url 'home' %}mypage/">
            <img class="icon_mini" src="/media/user_icons/user_icon_mini_{{user_id}}.png" alt="icon">
          </a>
        </div>
      </div>
      <div class="to_seting_page">
        seting{{user_id}}
      </div>
      <script>//競合回避のため全ての変数の末尾に_baseを付ける
        var user_id_base = Number("{{user_id}}");
        const link_to_login_page_base = document.getElementById("to_login_page");
        const link_to_mypage_base = document.getElementById("to_mypage_box");
        if (user_id_base <= 0) {
          link_to_mypage_base.classList.add("hidden")
        } else {
          link_to_login_page_base.classList.add("hidden")
        }
      </script>
    </div>
  </header>
  <div class="parent_box">
    <div class="main_middle" id="main_middle">
      {% block content %}{% endblock %}
    </div>
    <div class="sub_left" id="sub_left">
      {% block sub_left %}{% endblock %}
    </div>
    <div class="sub_right" id="sub_right">
      {% block sub_right %}{% endblock %}
    </div>
  </div>
  {% block out_of_box %}{% endblock %}
</body>
{% block script %}{% endblock %}

</html>