{% extends 'myapp/base.html' %}

{% block content %}
<br>
<br>
<h2>ユーザー登録</h2>
<br>
<div class="username_input_box">
    <h4>ニックネームを入力してください</h4>
    <input class="general_input_large" style="width: 500px;" id="username_input" type="text" name="username"
        form="signup_form" maxlength="20" size="25" />
</div>
<br>
<div class="mailaddress_input_box">
    <h4>メールアドレスを入力してください</h4>
    <input class="general_input_large" style="width: 500px;" id="mailaddress_input" type="email" name="mailaddress"
        form="signup_form" maxlength="255" size="25" />
</div>
<br>
<div class="password_input_box">
    <h4>パスワードを入力してください</h4>
    <input class="general_input_large" style="width: 500px;" id="password_input" type="password" name="password"
        form="signup_form" maxlength="255" size="25" />
</div><br>
<div class="signup_form_box">
    <form name="signup_form" id="signup_form" action="{% url 'home' %}signup/process" method="POST">{% csrf_token%}
        <button class="signup_button" type="button" onclick="post_user_data()">登録</button>
    </form>
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
        const username_exclusion_patteen = /<|>/
        const mailaddress_patteen = /^[a-zA-Z0-9_+-]+(.[a-zA-Z0-9_+-]+)*@([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]*\.)+[a-zA-Z]{2,}/
        const password_patteen = /^(([a-xA-Z0-9]|\_|\?|\!|\#|\@|\$)+)$/
        document.getElementById("username_input").addEventListener("input", () => {
            document.getElementById("username_input").value = document.getElementById("username_input").value.replace(username_exclusion_patteen, "")
        })
        document.getElementById("password_input").addEventListener("input", () => {
            if (password_patteen.test(document.getElementById("password_input").value) == false && document.getElementById("password_input").value!="") {
                alert("パスワードに使用可能な文字は英数字と_?!#`$のみです")
                document.getElementById("password_input").value = ""
            }
        })
        function post_user_data() {
            let username = document.getElementById("username_input").value
            let mailaddress = document.getElementById("mailaddress_input").value
            let password = document.getElementById("password_input").value
            if (username.length == 0) { alert("ニックネームを入力してください") }
            else if (username_exclusion_patteen.test(username)) { alert("ニックネームに<か>の文字が含まれています、文字を消してください") }//文字数チェックは別
            else if (mailaddress_patteen.test(mailaddress) == false) { alert("メールアドレスが不正です") }//文字数チェックも含む
            else if (password.length == 0) { alert("パスワードを入力してください") }
            else if (password_patteen.test(password) == false) { alert("パスワードに使用可能な文字は英数字と_?!#`$のみです") }
            else {
                let request_json_data = {
                    password: password,
                    username: username,
                    mailaddress: mailaddress,
                }
                fetch("{% url 'home' %}signup/process/", {
                    method: 'post',
                    headers: {
                        'Content-Type': 'application/json',//JSON形式のデータのヘッダー
                        "X-CSRFToken": csrftoken
                    },
                    body: JSON.stringify(request_json_data)
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data["result"] == "success") {
                            document.cookie = `session_id_1=${data["session_id_1"]}; path=/`
                            document.cookie = `session_id_2=${data["session_id_2"]}; path=/`
                            alert("ユーザー登録に成功しました")
                            location.href = ("{% url 'home' %}mypage/")
                        }
                        else if (data["result"] == "request_broken_error") {
                            alert("通信エラー\nもう一度送信してください")
                        }
                        else if (data["result"] == "username_overlap") {
                            alert("このニックネームはすでに使用されています\n別のものに変えてください")
                        }
                        else if (data["result"] == "mailaddress_overlap") {
                            alert("このメールアドレスはすでに使用されています\n別のものに変えてください")
                        }
                    })
            }
        }

    </script>
</div>
{% endblock %}