{% extends 'myapp/base.html' %}
{% block content %}
<input type="file" id="imageInput">
<button onclick="uploadImage()">Upload Image</button>
{% endblock %}
{% block script %}
<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    function uploadImage() {
    const inputElement = document.getElementById('imageInput');
    const file = inputElement.files[0];

    if (file) {
        const reader = new FileReader();
        reader.onload = function(event) {
            const imageBlob = new Blob([event.target.result], { type: file.type });

            // Now you can send 'imageBlob' to the server using fetch or any other method
            // Replace 'your-server-endpoint' with your actual server endpoint
            fetch('http://localhost:8000/image_upload_process/', {
                method: 'POST',
                headers: {
                    "X-CSRFToken": csrftoken
                },
                body: imageBlob
            })
            .then(response => response.json())
            .then(data => {
                console.log('Image uploaded successfully:', data);
            })
            .catch(error => {
                console.error('Error uploading image:', error);
            });
        };
        reader.readAsArrayBuffer(file);
    } else {
        console.warn('No image selected.');
    }
}
</script>
{% endblock %}