{% extends 'myapp/base.html' %}
{% block content %}
    <div class="password_input_box">
        <h4>現在のパスワード</h4>
        <input type="email" id="password_input_old" name="password" form="send" maxlength="255" size="40" />
    </div>
    <div class="password_input_box">
        <h4>新しいパスワード</h4>
        <input type="password" id="password_input_new" name="password" form="send" maxlength="255" size="40" />
    </div><br>
    <div class="change_password_box">
        <form name="change_password" id="send" action="{% url 'home' %}login_process/" method="POST">{% csrf_token %}
            <div class="center">
                <button style="width: 360px;" class="general_button_large" type="button"
                    onclick="confirmation_information()">変更</button>
            </div>
        </form>
        <script>
            const password_patteen = /^(([a-xA-Z0-9]|\!|\@|\#|\$|\%|\^|\&|\*|\(|\)|\_|\+|\-|\=|\[|\]|\{|\}|\||\;|\:|\'|\,|\.|\<|\>|\?|\/|\~|\`)+)$/;
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            function confirmation_information() {
                const session_id_key_1 = 'session_id_1';
                const session_id_key_2 = 'session_id_2';
                /// 正規表現でcookie値を取得
                let session_id_1 = document.cookie.match(
                    new RegExp(session_id_key_1 + '\=([^\;]*)\;*')
                )[1];
                let session_id_2 = document.cookie.match(
                    new RegExp(session_id_key_2 + '\=([^\;]*)\;*')
                )[1];
                let password_old = document.getElementById("password_input_new").value
                let password_new = document.getElementById("password_input_new").value
                if (password_old.length == 0) { alert("変更するパスワードを入力してください") }
                else if (password_patteen.test(password_new) == false) { alert("新しいパスワードが不正です、パスワードに使用可能な文字は英数字と!@#$%^&*()_+-=[]{}|;:',.<>?/~`のみです"); }
                else {
                    let data = {
                        user_id: "{{user_id}}",
                        session_id_1: session_id_1,
                        session_id_2: session_id_2,
                        password_old: password_old,
                        password_new: password_new
                    };
                    fetch("{% url 'home' %}changepassword/process/", {
                        method: 'post',
                        headers: {
                            'Content-Type': 'application/json',//JSON形式のデータのヘッダー
                            "X-CSRFToken": csrftoken
                        },
                        body: JSON.stringify(data)
                    })
                        .then(response => response.json())
                        .then(data => {
                            if(data["result"]=="success"){
                                location.href=("{% url 'home' %}")
                            }
                            else if(data["result"]=="failed_password"){
                                alert("現在のパスワードの部分が間違っています")
                            }
                            else if(data["result"]=="failed_error"){
                                alert("エラー\n\nページを読み込み直してもこのメッセージが出る場合は運営に問い合わせてください")
                            }
                        })
                }
            }
        </script>
    </div>
{% endblock %}